name: Go
on:
  push:
    branches: [ master, main ]
  pull_request:

jobs:

  build:
    name: Build and Unit Test
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25

      - name: Check out code
        uses: actions/checkout@v4

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v -race -covermode=atomic -coverprofile=coverage.out ./...

      - name: Upload Coverage
        uses: shogo82148/actions-goveralls@v7
        with:
          path-to-profile: coverage.out
